{% extends 'diabetes/base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-bd lobidrag">
            <div class="panel-heading">
                <div class="btn-group"> 
                    <a class="btn btn-success" href="app-list.html#"> <i class="fa fa-plus"></i>  Add Caregiver</a>  
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="panel-header">
                        <div class="col-sm-4">
                        <div class="dataTables_length" id="example_length">
                            <div class="input-group custom-search-form">
                                <input type="search" class="form-control" placeholder="search..">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Relation</th>
                            <th>Email</th>
                            <td>Number</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for caregiver in caregivers %}
                            <tr>
                            <td>{{caregiver.name}}</td>
                            <td>{{caregiver.relation}}</td>
                            <td>{{caregiver.email}}</td>
                            <td>{{caregiver.number}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- <div class="page-nation text-right">
                <ul class="pagination pagination-large">
                    <li class="disabled"><span>«</span></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="app-list.html#">2</a></li>
                    <li class="disabled"><span>...</span></li><li>
                    <li><a rel="next" href="app-list.html#">Next</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</div>
</div>
{% endblock %}
            
           