/* @import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Satisfy|Rancho|Playfair+Display'); */

p{
  
  color: #000;
  font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6{
 
  color: #000;
  font-size: 1.1em;
}

.blog-title {
  text-align: center;
 
}

.blog-title a{
  color: #F65707;
}

.blog-title a:hover{
  color: #000;
}

a:hover{
  text-decoration: none;
}

.blog-post-title{
  color: #941ADC;
}
